/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300, 400, 700, 900);

* {
  box-sizing: border-box;
}

body {
  font: 13px "Lato", Arial, Verdana, sans-serif;
  font-weight: 400;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
}

p {
  margin-bottom: 18px;
}

.main {
  padding: 20px;
  overflow: hidden;
}

.product_summary_collection {
  float: left;
  width: 75%;
}

.product_summary {
  background-color: #fff;
  width: 25%;
  float: left;
  min-width: 220px;
  padding: 15px;
  position: relative;
  padding-bottom: 70px;
  margin: 1%;
}

.product_summary .product_image {
  width: 100%;
  margin-bottom: 10px;
}

.product_summary .product_price {
  color: green;
}

.product_summary .product_title {
  color: #333333;
  font-size: 19px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.product_summary .add_to_basket {
  position: absolute;
  height: 40px;
  background-color: #0a89af;
  bottom: 15px;
  left: 15px;
  right: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

.product_summary .add_to_basket:hover {
  opacity: 0.8;
  cursor: pointer;
  cursor: hand;
}

.basket {
  float: left;
  width: 20%;
  background-color: #fff;
  padding: 15px;
  min-width: 200px;
  margin: 1%;
}

.basket > h1 {
  color: #333333;
  font-size: 30px;
  margin-bottom: 20px;
}

.basket .products {
  margin-bottom: 20px;
  width: 100%;
}

.basket .products th {
  font-weight: 600;
  text-align: left;
  padding-bottom: 10px;
}

.basket .products tbody th {
  font-weight: initial;
}

.test_instructions {
  background-color: #333;
  border-top: 1px solid #000;
  color: #eee;
  font-size: 16px;
  padding: 35px;
  padding-bottom: 55px;
  text-shadow: 1px 1px #000;
  box-shadow: inset 0px -29px 43px -27px black;
}

.test_instructions h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 35px;
}

.test_instructions ul {
  list-style: disc inside none;
  padding-left: 25px;
}

.test_instructions li {
  margin-bottom: 3px;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #4d8acd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .test_instructions {
    padding: 15px;
  }

  .test_instructions h1 {
    font-size: 25px;
    margin: 0 auto;
  }

  .product_summary {
    width: 100%;
  }

  .product_summary_collection {
    width: 100%;
  }

  .basket {
    width: 100%;
    margin-bottom: 0;
  }
}
